<div class="container">
  
  <p>{{article._id}}</p>
  <p>{{article.title}}</p>
  <p>{{article.link}}</p>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="body">Note</label>
          <textarea type="text" class="form-control body" id="body" rows="3" placeholder="Enter note"></textarea>
        </div>
        <button type="submit" class="btn btn-primary add-note">Submit</button>
      </form>
    </div>
  </div>
</div>
