.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: white;
  background-color: #2196f3;
}

.footer > .container > p {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 0;
  font-weight: 800;
  background: #0c7cd5;
}

textarea {
  border: 1px solid gray !important;
  border-radius: .25rem !important;
}